{{!< __layout}}
<div class="aui-page-panel">
  <div class="aui-page-panel-inner">
    <div class="aui-page-panel-nav">
      <!-- content such as a vertical nav -->
      <h6>Navigation</h6>
    </div>
    <section class="aui-page-panel-content">
      <!-- main area for content -->
      <div class="aui-page-header-main intro-header">
        <h1>Spikes - LAB Dev, Inc. {{addonVersion}}</h1>
        <p class="subtitle">{{subtitle}}</p>
      </div>
      <div class="aui-group">
        <div class="aui-item">
          <p>
            Congratulations. You've successfully created an Atlassian Connect add-on using the
            <a href="https://bitbucket.org/atlassian/atlassian-connect-express/src/master/README.md#markdown-header-atlassian-connect-express-nodejs-package-for-express-based-atlassian-add-ons"
              target="_parent">atlassian-connect-express</a>
            client library.
          </p>
          <p>
            <a class="aui-button aui-button-primary" href="https://bitbucket.org/atlassian/atlassian-connect-express/src/master/README.md#markdown-header-atlassian-connect-express-nodejs-package-for-express-based-atlassian-add-ons"
              target="_parent">
              Get Started
              <span class="aui-icon aui-icon-small aui-iconfont-devtools-arrow-right">Arrow right</span>
            </a>
          </p>
        </div>
      </div>
    </section>
    </div>
  </div>